.page-header {
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding: 20px 0;
    height: 20vh;
}

.content {
    height: calc(100vh - 30vh - 42px);
}

.content img {
    height: 500px;
}

.searchBusinessInput {
    padding: 0.5rem;
    width: 10rem;
    margin: 0;
    color: black;
    border: solid 1px red;
    border-radius: 10px 0 0 10px;
}

.searchBusinessInput:focus {
    outline-width: 0;
}

.search-btn {
    height: 2.1rem;
    width: 60px;
    border-radius: 0 10px 10px 0;
    border: 0px;
    color: white;
    background-color: red;
    cursor: pointer;
}

.hover-effect {
    position: relative;
    z-index: 1;
}

.hover-effect:after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0 0 10px 0;
    background-color: black;
    transition: all 0.5s ease;
    z-index: -1;
}

.search-btn.hover-effect:after {
    border-radius: 0 10px 10px 0;
}

.hover-effect:hover:after {
    width: 100%;
    left: 0;
}
