nav {
  display: flex;
  width: calc(100vw - 60px);
  height: 10vh;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
}

.company {
  color: black;
}

.company > img {
  height: 20px;
  width: 20px;
}

.nav-links {
  display: flex;
}

.nav-links a:hover {
  color: white;
  background-color: black;
  padding: 10px;
}

.nav-links > li {
  margin-right: 10px;
  text-decoration: dashed;
}